.containerBox{
    box-shadow: 0 0 10px;
    display: flex;
    padding: 8%;
    flex-direction: column;
    justify-content: center;
       
}
.mainContainer{
    display: flex;
    width: 100%;
    
    justify-content: center;
}
.containerBox div{
    padding: 3px;
}

